<template name="projectUsersEditView">
    {{#if isVisible }}
        <h2>Users</h2>
        <ul>
            {{#each users}}
                <li style="cursor:pointer;margin-bottom:10px;">{{name}}</li>
            {{/each}}
        </ul>
        <fieldset>
            <label for="UserName">User Name:</label>
            <input id="UserName" type="textbox" />
            <label for="UserPassword">Password:</label>
            <input id="UserPassword" type="password" />
        </fieldset>
        <input id="UserAddButton" type="button" value="Add a new user" />
        <input id="UserRemoveButton" type="button" value="Remove user" />
    {{/if}}
</template>